<form [formGroup]="modalForm">
  <div class="modal">
    <div class="title">
      <h1>
        {{new(data)? 'Новая запись' : 'Запись #'+data.id}}
      </h1>
    </div>
    <div class="content">
      <div class="field">
        <div class="input">
          <div class="alert" *ngIf="modalForm.controls['resources'].invalid && modalForm.controls['resources'].dirty">
            !
          </div>
          <input type="number"
                 placeholder="Средства"
                 formControlName="resources"
                 id="resources"
                 name="resources">
        </div>
        <div class="popover" *ngIf="modalForm.controls['resources'].invalid && modalForm.controls['resources'].dirty">
          Неверное значение
        </div>
      </div>
      <div class="field">
        <div class="input">
          <div class="alert alert-textarea" *ngIf="modalForm.controls['comment'].invalid && modalForm.controls['comment'].dirty">
            !
          </div>
          <textarea maxlength="512" rows="5" placeholder="Комментарий" formControlName="comment"
                    name="comment"></textarea>
        </div>
        <div class="popover" *ngIf="modalForm.controls['comment'].invalid && modalForm.controls['comment'].dirty">
          Неверное значение
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="buttons">
        <div>
          <button mat-button (click)="submit()" [disabled]="modalForm.invalid">{{new(data)? 'Добавить' : 'Сохранить'}}
          </button>
        </div>
        <div>
          <button mat-button mat-dialog-close class="close">Отменить</button>
        </div>
      </div>
    </div>
  </div>
</form>

