<form [formGroup]="modalForm">
  <div class="modal">
    <div class="title">
      <h1>
        {{new(data)? 'Новая запись' : 'Запись #'+data.id}}
      </h1>
    </div>
    <div class="content">
      <div class="field">
        <div class="input">
          <input type="number" placeholder="Средства" formControlName="resources" name="resources">
        </div>
      </div>
      <div class="field">
        <div class="input">
          <textarea maxlength="512" rows="5" placeholder="Комментарий" formControlName="comment"
                    name="comment"></textarea>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="buttons">
        <div>
          <button mat-button (click)="submit()" [disabled]="modalForm.invalid">{{new(data)? 'Добавить' : 'Сохранить'}}
          </button>
        </div>
        <div>
          <button mat-button mat-dialog-close>Отмена</button>
        </div>
      </div>
    </div>
  </div>
</form>

