<header>
  <div class="header-container container">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="">
    </div>
    <div class="sum-container">
      <div class="sum">{{getSum()}}</div>
    </div>
  </div>
</header>
<content>
  <div class="container table-container">
    <div class="">
      <table class="table">
        <thead>
        <tr>
          <th (click)="sort('id')" width="20%">
            <div class="control">
              <span class="text">Id</span>
              <app-sort-arrows [sorting]="sorting['id']" class="control"></app-sort-arrows>
            </div>
          </th>
          <th (click)="sort('resources')" width="30%">
            <div class="control">
              Средства
              <app-sort-arrows [sorting]="sorting['resources']" class="control"></app-sort-arrows>
            </div>
          </th>
          <th width="50%">
            <div>
              Комментарий
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of showList">
          <!-- Здесь я не могу использовать [routerLink]="['']", потому как работаю с адресной строкой, потому для заглушки
          дефолтного действия я использую href="javascript:;"-->
          <td class="id"><a (click)="edit(item)" href="javascript:;">{{item.id}}</a></td>
          <td>{{item.resources}}</td>
          <td>{{item.comment}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="buttons">
      <div class="add-container">
        <button (click)="add()">Добавить</button>
      </div>
      <div class="pagination" *ngIf="list.length>10">
        <div class="page" *ngFor="let item of getCountPages();index as i">
          <button (click)="showPage(i+1)" [disabled]="i+1===currentPage">{{i+1}}</button>
        </div>
      </div>
    </div>
  </div>
</content>
