/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: "Futura Futurus";
  background-color:  #f1f1f1;
}

body, html {
  padding: 0;
  margin: 0;
}


.mat-dialog-container{
  border-top: 3px solid red;
  overflow: visible !important;
}



